src/pyquest/static/survey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:qs="http://paths.sheffield.ac.uk/pyquest" targetNamespace="http://paths.sheffield.ac.uk/pyquest" elementFormDefault="qualified">
    <xs:element name="qsheet" type="qs:QSheet"></xs:element>
    
    <xs:complexType name="QSheet">
        <xs:sequence>
            <xs:element name="styles" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scripts" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="questions" type="qs:QuestionSequence"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="title" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="QuestionSequence">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="static_text" type="qs:StaticText"/>
              <xs:element name="short_text" type="qs:Question"/>
              <xs:element name="long_text" type="qs:Question"/>
              <xs:element name="number" type="qs:NumberQuestion"/>
              <xs:element name="email" type="qs:Question"/>
              <xs:element name="url" type="qs:Question"/>
              <xs:element name="date" type="qs:Question"/>
              <xs:element name="time" type="qs:Question"/>
              <xs:element name="datetime" type="qs:Question"/>
              <xs:element name="month" type="qs:Question"/>
              <xs:element name="single_choice" type="qs:SingleChoiceQuestion"/>
              <xs:element name="multi_choice" type="qs:MultiAnswerQuestion"/>
              <xs:element name="rating_group" type="qs:MultiAnswerMultiQuestionQuestion"/>
              <xs:element name="confirm" type="qs:ConfirmQuestion"/>
              <xs:element name="multichoice_group" type="qs:MultiAnswerMultiQuestionQuestion"/>
              <xs:element name="ranking" type="qs:MultiAnswerQuestion"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StaticText">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>
    
    <xs:complexType name="Question">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="help" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="NumberQuestion">
        <xs:complexContent>
            <xs:extension base="qs:Question">
                <xs:attribute name="min" type="xs:string"/>
                <xs:attribute name="max" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="ConfirmQuestion">
        <xs:complexContent>
            <xs:extension base="qs:Question">
                <xs:attribute name="value" type="xs:string"/>
                <xs:attribute name="label" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="SingleChoiceQuestion">
        <xs:complexContent>
            <xs:extension base="qs:Question">
                <xs:sequence>
                    <xs:element name="answer" type="qs:Answer" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="display" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="MultiAnswerQuestion">
        <xs:complexContent>
            <xs:extension base="qs:Question">
                <xs:sequence>
                    <xs:element name="answer" type="qs:Answer" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="MultiAnswerMultiQuestionQuestion">
        <xs:complexContent>
            <xs:extension base="qs:Question">
                <xs:sequence>
                    <xs:element name="sub_question" type="qs:SubQuestion" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="answer" type="qs:Answer" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="Answer">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="SubQuestion">
        <xs:sequence>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>
</xs:schema>